*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
.idea
target/

# Package Files #
*.jar
*.war
*.ear
*.dat
*.zip

dependency-reduced-pom.xml
log*
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.mvn/
selogger-*
test-*
*.iml
*~
release.properties